# Question 1

In [ ]:
l = [10,20,30,40,50,60,70,80]

In [ ]:
l.append(200)
l.append(300)
print(l)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

In [ ]:
l.remove(10)
l.remove(30)
print(l)

[20, 40, 50, 60, 70, 80, 200, 300]

In [ ]:
l.sort(reverse = False)
print(l)
l.sort(reverse=True)
print(l)

[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

# Question 2

In [ ]:
data = (45,89.5,76,45.4,89,92,58,45)

In [ ]:
max_value = max(data)
index = data.index(max_value)
print(f"maximum value in tuple is {max_value} at {index}")

maximum value in tuple is 92 at 5

In [ ]:
min_value = min(data)
index = data.count(min_value)
print(f"minimum value in tuple is {min_value} and count is  {index}")

minimum value in tuple is 45 and count is  2

In [ ]:
def reverse(data):
  reversing = data[::-1]
  return list(reversing)

print(f"reverse order is {reverse(data)}")

reverse order is [45, 58, 92, 89, 45.4, 76, 89.5, 45]

In [ ]:
num = int(input("enter any number = "))
if(num in data):
  data_list = list(data)
  data_list.remove(num)
  data = tuple(data_list)
  print(f"{num} is removed")
else:
  print("not found")

enter any number = 45
45 is removed

# Question 3

In [ ]:
import random as r

In [ ]:
rand_numb = [r.randint(100,900) for i in range(100)]
rand_numb.sort(reverse=False)
rand_number = rand_numb

print(f"original list = {rand_number}")
def isprime(n):
    for i in range(100,n):
      if(n%i==0):
        return True
    return False

prime_number = [r for r in rand_number if( isprime(r) )]
print(f"no. of prime number are {len(prime_number)}\nprime numbers = {prime_number}")

even_number = [r for r in rand_number if( r%2 == 0 )]
print(f"no. of even number are {len(even_number)}\neven numbers = {even_number}")

odd_number = [r for r in rand_number if( r%2 != 0 )]
print(f"no. of odd number are {len(odd_number)}\nodd numbers = {even_number}")

orginal list = [104, 104, 121, 135, 146, 148, 148, 155, 158, 162, 184, 189, 195, 206, 213, 213, 214, 221, 221, 237, 240, 243, 245, 254, 273, 288, 304, 309, 311, 320, 323, 324, 328, 329, 332, 334, 341, 351, 356, 364, 368, 377, 384, 390, 398, 406, 412, 420, 420, 444, 462, 464, 487, 494, 495, 509, 515, 515, 530, 544, 545, 586, 592, 593, 593, 606, 609, 637, 639, 645, 658, 666, 673, 694, 696, 700, 704, 721, 745, 745, 755, 759, 784, 784, 796, 798, 809, 813, 815, 820, 834, 834, 851, 862, 867, 880, 887, 888, 889, 899]
no. of prime number are 64
prime numbers = [206, 214, 240, 254, 288, 304, 309, 320, 324, 328, 332, 334, 351, 356, 364, 368, 384, 390, 398, 406, 412, 420, 420, 444, 462, 464, 494, 495, 515, 515, 530, 544, 545, 586, 592, 606, 609, 639, 645, 658, 666, 694, 696, 700, 704, 721, 745, 745, 755, 759, 784, 784, 796, 798, 813, 815, 820, 834, 834, 862, 867, 880, 888, 889]
no. of even number are 54
even numbers = [104, 104, 146, 148, 148, 158, 162, 184, 206, 214, 240, 254, 288, 304, 320, 324, 328, 332, 334, 356, 364, 368, 384, 390, 398, 406, 412, 420, 420, 444, 462, 464, 494, 530, 544, 586, 592, 606, 658, 666, 694, 696, 700, 704, 784, 784, 796, 798, 820, 834, 834, 862, 880, 888]
no. of odd number are 46
odd numbers = [104, 104, 146, 148, 148, 158, 162, 184, 206, 214, 240, 254, 288, 304, 320, 324, 328, 332, 334, 356, 364, 368, 384, 390, 398, 406, 412, 420, 420, 444, 462, 464, 494, 530, 544, 586, 592, 606, 658, 666, 694, 696, 700, 704, 784, 784, 796, 798, 820, 834, 834, 862, 880, 888]

# Question 4

In [ ]:
a = {34,56,78,90}
b = {78,45,90,23}

In [ ]:
s = a.union(b)
print(s)

{34, 45, 78, 23, 56, 90}

In [ ]:
s = a.intersection(b)
print(s)

{90, 78}

In [ ]:
s = a.symmetric_difference(b)
print(s)

{34, 45, 23, 56}

In [ ]:
print(f"a is a subset of b = {a.issubset(b)}")
print(f"b is a subset of a = {b.issubset(a)}\n")

print(f"a is a superset of b = {a.issuperset(b)}")
print(f"b is a superset of a = {b.issuperset(a)}")

a is a subset of b = False
b is a subset of a = False

a is a superset of b = False
b is a superset of a = False

In [ ]:
a = {34,56,78,90}
num = int(input("enter any number = "))
if num in a:
  a.remove(num)
  print(a)
else:
  print("no found")

enter any number = 5
no found

# Question 5

In [ ]:
sample_dic = {
    "name":"kelly",
    "age":25,
    "salary": 8000,
    "city":"new york"
}
print(f"original is {sample_dic}")

# for keys in sample_dic:
#   if(keys == "city"):
#     keys = "location"

sample_dic["location"] = sample_dic.pop("city")
print(f"after replace city to location is {sample_dic}")

original is {'name': 'kelly', 'age': 25, 'salary': 8000, 'city': 'new york'}
after replace city to location is {'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'new york'}